.navbar {
  background: #dc3545;
  color: white;
  z-index: 5;
}

.navbar a,
.navbar button {
  color: white;
  -webkit-transition-property: font-size, font-weight;
  transition-property: font-size, font-weight;
  -webkit-transition-duration: 0.9ms;
          transition-duration: 0.9ms;
}

.navbar a:hover {
  font-size: 1.1rem;
  font-weight: bolder;
}

.navbar button:hover {
  font-size: 1.1rem;
}

.text-red {
  color: #dc3545;
}

button {
  background: #dc3545 !important;
}

.jumbotron {
  background: linear-gradient(-8deg, rgba(253, 253, 253, 0) 0%, rgba(27, 3, 1, 0.253) 40%, rgba(251, 66, 38, 0) 100%), url(/images/backmain.jpg);
  background-size: cover;
  height: 490px;
}

.jumbotron .container {
  z-index: 5;
}

.jumbotron input {
  background: rgba(255, 255, 255, 0.664);
}

.jumbotron select {
  background: rgba(255, 255, 255, 0.664);
  width: 90%;
}

.jumbotron a {
  color: #dc3545;
}

.back-ani {
  top: -167px;
  -webkit-animation-name: circle;
          animation-name: circle;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  z-index: 3;
  left: -240px;
}

@-webkit-keyframes circle {
  from {
  }
  to {
    -webkit-transform: rotateZ(100deg) translateY(300px);
            transform: rotateZ(100deg) translateY(300px);
  }
}

@keyframes circle {
  from {
  }
  to {
    -webkit-transform: rotateZ(100deg) translateY(300px);
            transform: rotateZ(100deg) translateY(300px);
  }
}

.label-in {
  font-size: 14px;
}

.label-svg {
  font-size: 18px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  padding-top: 5px;
  padding-left: 5px;
}

.text-white {
  color: white;
}

.section-2 .item {
  background: white;
}

.section-2 .item p {
  font-size: 14px;
}

.section-2 svg {
  font-size: 30px;
}

svg {
  font-size: 30px;
}

.section-3 .item {
  padding: 0 10px;
  margin: auto 0;
}

.section-3 .item button {
  background: white !important;
  color: transparent !important;
}

.section-3 img {
  height: 330px;
  padding: 10px 0;
}

.section-3 .item-1 {
  background: #e27f64;
}

.section-3 .item-1 button {
  color: #e27f64 !important;
}

.section-3 .item-2 {
  background: #97a5a6;
}

.section-3 .item-2 button {
  color: #97a5a6 !important;
}

.section-3 .item-3 {
  background: #519bd7;
}

.section-3 .item-3 button {
  color: #519bd7 !important;
}

.section-4 .card .font-weight-bold {
  margin: 10px 0;
}

.section-4 .card .meters {
  margin-top: 15px;
}

.section-4 .card .bottom {
  margin-top: 15px;
}

.section-4 .card .bottom svg {
  margin: 0px 15px;
  color: gray;
  border: 1px solid gray;
  border-radius: 50%;
  font-size: 2rem;
  padding: 7px;
}

footer {
  background: black;
  color: white;
  padding-top: 5px 0 0 0;
  margin: 0 0 0 0;
}

footer .row-1 {
  position: relative;
  border-color: gray !important;
}

footer .row-1 ul {
  border-color: gray !important;
}

footer .row-1 .ul-1 {
  margin-right: 21px;
  margin-left: -24px;
}

footer .row-1 .icon {
  position: absolute;
  left: 642px;
  top: 30px;
  z-index: 4;
  background: black;
  border: solid;
  border-radius: 50%;
  border-color: gray !important;
}

footer .row-1 .icon svg {
  font-size: 5rem;
  padding: 20px;
}

footer .row-2 h5 {
  font-weight: bolder;
  margin-bottom: 20px;
}

footer .social-links {
  background: #363434;
  color: white;
}

footer a {
  color: white;
}

footer ul {
  margin-top: 40px;
  list-style: none;
}

.ssection-1 .col-12 {
  background: #d3d5da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0;
  padding: 30px 0;
}

.ssection-1 .col-12 .input-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
}

.ssection-1 .col-12 .input-groups label {
  margin: 0 10px;
}

.ssection-1 .col-12 .bt-top #b1 {
  border: 1px solid #007bff;
}

.ssection-1 .col-12 .bt-top #b2 {
  border: 1px solid #d67d17;
}

.ssection-1 .col-12 .bt-top button {
  margin: 10px 0;
  background: transparent !important;
}

.ssection-1 .col-12 .bottom-bt .b1 {
  background: #457eb4 !important;
}

.ssection-1 .col-12 .bottom-bt .b2 {
  background: #e2a044 !important;
}

.ssection-2 .card-body .bottom {
  margin-top: 5px;
}

.ssection-2 .card-body .bottom svg {
  margin: 0px 7px;
  color: gray;
  border: 1px solid gray;
  border-radius: 50%;
  font-size: 2rem;
  padding: 7px;
  -webkit-transition-property: background font-size;
  transition-property: background font-size;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.ssection-2 .card-body .bottom svg:hover {
  background: #97a5a6;
  font-size: 2.2rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .jumbotron {
    height: unset;
  }
  .jumbotron .label-svg {
    font-size: 4rem !important;
  }
  .jumbotron .input-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jumbotron .input-container .item {
    width: 100% !important;
    padding: 0 !important;
  }
  .jumbotron .input-container .item select {
    width: 75% !important;
  }
}
/*# sourceMappingURL=style.css.map */