$dark-red: #dc3545;
$main-font: "EB Garamond", serif;
$title-font: "EB Garamond", serif;

body {
  font-family: $main-font;
}

.title {
  font-family: $title-font;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow: hidden;
}

.navbar {
  background: $dark-red;
  color: white;
  z-index: 5;
  .nav-left img {
    width: 50px;
    height: 50px;
    margin-top: -27px;
  }

  a,
  button {
    color: white;

    transition-property: box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }
  a:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  button:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

.text-red {
  color: $dark-red;
}

button {
  background: $dark-red !important;
}

.jumbotron {
  background: linear-gradient(
      -8deg,
      rgba(253, 253, 253, 0) 0%,
      rgba(27, 3, 1, 0.253) 40%,
      rgba(251, 66, 38, 0) 100%
    ),
    url(/images/backmain.jpg);
  background-size: cover;
  .container {
    z-index: 5;

    svg {
      color: white;
      margin: 7px 10px 0 7px;
    }
  }
  height: 490px;
  input {
    background: rgba(255, 255, 255, 0.664);
  }
  select {
    background: rgba(255, 255, 255, 0.664);
    width: 90%;
    line-height: 35px;
    option {
      font-size: 14px;
    }
  }
  a {
    color: $dark-red;
  }
}

.label-in {
  font-size: 14px;
}

.label-svg {
  font-size: 18px;
  align-self: baseline;
  padding-top: 5px;
  padding-left: 5px;
}

.text-white {
  color: white;
}

.section-2 {
  .item {
    background: white;
    p {
      font-size: 14px;
    }
  }
  svg {
    font-size: 30px;
  }
}
svg {
  font-size: 30px;
}

.section-3 {
  .item {
    padding-right: 100px !important;
    padding-left: 100px !important;
    margin: auto 0;

    button {
      background: white !important;
      color: transparent !important;
    }
  }
  img {
    height: 330px;
    padding: 10px 0;
    width: 450px;
  }
  .item-1 {
    background: #e27f64;
    button {
      color: #e27f64 !important;
    }
  }
  .item-2 {
    background: #97a5a6;
    button {
      color: #97a5a6 !important;
    }
  }

  .item-3 {
    background: #519bd7;
    button {
      color: #519bd7 !important;
    }
  }
}

.section-4 .card {
  margin-top: 30px;
  .font-weight-bold {
    margin: 10px 0;
  }
  .meters {
    margin-top: 15px;
  }
  .bottom {
    margin-top: 15px;
    svg {
      margin: 0px 15px;
      color: gray;
      border: 1px solid gray;
      border-radius: 50%;
      font-size: 2rem;
      padding: 7px;
      transition-property: background;
      transition-duration: 1s;
    }
    svg:hover {
      background: rgba(168, 163, 163, 0.705);
    }
  }
}

footer {
  background: black;
  color: white;

  margin: 0 0 0 0;
  .row-1 {
    padding: 0 40px;

    border-color: gray !important;
    ul {
      border-color: gray !important;
    }
    .ul-1 {
      position: relative;
      margin-right: 10px;
      margin-left: 15px;
    }
  }
  .icon {
    position: absolute;
    left: 0px;
    top: -106px;
    z-index: 4;
    background: black;
    border: solid;
    border-radius: 50%;
    border-color: gray !important;

    svg {
      font-size: 5rem;
      padding: 20px;
    }
  }

  .sub-icon-t {
    width: fit-content;
    .sub-icon {
      position: absolute;
      right: 0px;
      top: -106px;
      z-index: 4;
      background: black;
      border: solid;
      border-radius: 50%;
      border-color: gray !important;

      svg {
        font-size: 5rem;
        padding: 20px;
      }
    }
  }

  .i-link h5 {
    width: fit-content;
  }
  .row-2 {
    padding: 0 40px;

    h5 {
      font-weight: bolder;
      margin-bottom: 20px;
    }
  }

  .social-links {
    background: rgb(54, 52, 52);
    color: white;
    padding: 0 30px;
  }
  a {
    color: white;
  }
  ul {
    margin-top: 40px;
    list-style: none;
  }
}

// search.html

.ssection-1 .col-12 {
  background: #d3d5da;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  padding: 30px 0;
  .input-groups {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 19px 0;
    padding: 0 40px;

    label {
      margin: 0 10px;
    }
  }
  .bt-top {
    #b1 {
      border: 1px solid #007bff;
    }
    #b2 {
      border: 1px solid #d67d17;
    }
    button {
      margin: 10px 0;
      background: transparent !important;
    }
  }
  .bottom-bt {
    .b1 {
      background: #457eb4 !important;
    }
    .b2 {
      background: #e2a044 !important;
    }
  }
}

.ssection-2 .card-body {
  .bottom {
    margin-top: 5px;
    svg {
      margin: 0px 7px;
      color: gray;
      border: 1px solid gray;
      border-radius: 50%;
      font-size: 2rem;
      padding: 7px;
      transition-property: background font-size;
      transition-duration: 1s;
    }
    svg:hover {
      background: #97a5a6;
      font-size: 2.2rem;
    }
  }
}

.search-in {
  .item-1 {
    width: 20%;
  }
  .item-2 {
    width: 25%;
  }
  .item-3 {
    width: 10%;
  }
  .item-4 {
    width: 10%;
  }

  .item-5 {
    width: 15%;
  }
  .item-6 {
    width: 15%;
  }
  .item-7 {
    width: 15%;
  }
  .item-8 {
    width: 15%;
  }
}

.sssection-1 {
  .wrapper {
    height: 500px;
    .img {
      height: 50%;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .carousel {
    img {
      height: 500px;
    }
  }
}

.sssection-2 {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 40px;
    margin: 90px auto;
    grid-gap: 20px;
    svg {
      transition: color font-size;
      transition-duration: 1s;
      margin-right: 10px;
    }
    svg:hover {
      color: $dark-red;
      font-size: 1.1rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    .hidden {
      display: none;
    }
  }

  .jumbotron {
    height: unset;
    .label-svg {
      font-size: 4rem !important;
    }
    .input-container {
      flex-direction: column;
      .item {
        width: 100% !important;
        padding: 0 !important;
        select {
          width: 75% !important;
        }
      }
    }
  }

  .section-3 {
    img {
      height: 200px;
      padding: 10px 0;
      width: 300px;
    }
  }

  .svg-cont {
    margin-left: -30px;
  }
  .sssection-2 .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.color-bg {
  background: #dc3545;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
  padding: 101px;
  margin-right: 59px;
}

.wrapper {
  color: white;
  .img-logo {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .nav-right {
    svg {
      margin-right: 30px;
    }
  }
  .jumbotron {
    padding-top: 10rem !important;
    .title {
      font-size: 42px;
      padding-bottom: 41px;
    }
  }

  .section-3 .item {
    flex-direction: column;
    align-items: center;
    .img {
      order: -3;
      img {
        height: 183px;
        width: 246px;
      }
    }
  }
  .section-4 .card img {
    width: 65% !important;
  }

  .footer ul {
    border: none !important;
  }

  .icon {
    top: 59px;
    left: -120px;
  }

  .sub-icon {
    right: 5px !important;
    top: -194px !important;
  }

  .ssection-1 {
    margin-top: 40px;
  }
  .input-groups {
    .item-1 {
      width: 80%;
    }
    .item-2 {
      width: 80%;
    }
    .item-3 {
      width: 80%;
    }
    .item-4 {
      width: 80%;
    }

    .item-5 {
      width: 80%;
    }
    .item-6 {
      width: 80%;
    }
    .item-7 {
      width: 80%;
    }
    .item-8 {
      width: 80%;
    }

    .sssection-2 .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
